@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Klee+One&family=Sacramento&display=swap');
html {
    height: 100%;
}

body {
    background-color: plum;
    height: 100%;
    margin: 0;
}

.box {
    background-color: white;
    width: max(300px, 50%);
    margin: auto;
    border-radius: 5px;
    margin-top: 10px;
}

#break {
    margin:0;
    padding:0;
}

#title {
    display:flex;
    font-family: 'Sacramento', cursive;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    margin:0;
    height: 75px;
    padding-bottom:-10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    width: 50%;
}

li a {
    display: block;
    color:black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: grey;
}

.r-container {
    height:20%;
    font-family: 'Klee One', cursive;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
}


#randomize-button {
    display:flex;
    width: 50%;
    height: 50%;
    background-color: dodgerblue;
    color:azure;
    text-shadow: 1px 1px 1px blue;
    cursor: pointer;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#randomize-button:hover {
    background-color:cornflowerblue;
}

h1 {
    font-size: 20px;
}

.about {
    height:50%;
    padding-bottom: 2%;
}

#about-text, #contact-text {
    font-family: 'Klee One', cursive;
    font-size: small;
    padding: 1%;
}

.contact {
    height: 15%;
}

.header{
    font-family: 'Barlow', sans-serif;
}

.main-randomize {
    height: 50%;
    box-sizing: border-box;
}

#culture-name {
    font-family: 'Klee One', cursive;
    font-weight: bolder;
    padding: 5px;
}

#culture-description {
    font-family: 'Barlow', sans-serif;
    margin:0;
    padding-left: 5px;
}

#culture-url {
    font-family: 'Barlow', sans-serif;
    margin:0;
    padding-left: 5px;
}

#img-url {
    max-width: 90%;
    height: 40%;  
    margin-top:20px;
    padding-left: 5px;
}

#img-source {
    margin: 0;
    padding-left: 5px;
    font-size: 10px;
}